//==========================================================================
// Base Typography
//==========================================================================

@use "sass:color"; // Sassの組み込みモジュール `color` を読み込み
@use 'variables' as var; // Use `var` namespace for variables

//--------------------------------------------------------------------------
// Body & HTML
//--------------------------------------------------------------------------
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var.$font-family-base;
  font-size: var.$font-size-base;
  line-height: var.$line-height-base;
  color: var.$text-color;
  background-color: var.$body-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // スティッキーフッターのためのFlexbox設定
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//--------------------------------------------------------------------------
// Headings
//--------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: var.$spacer * .5;
  font-weight: var.$headings-font-weight;
  line-height: 1.2;
  color: inherit;
}

//--------------------------------------------------------------------------
// Links
//--------------------------------------------------------------------------
a {
  color: var.$primary;
  text-decoration: none;

  &:hover {
    color: color.adjust(var.$primary, $lightness: -10%);
  }
}

//--------------------------------------------------------------------------
// Paragraphs
//--------------------------------------------------------------------------
p {
  margin-top: 0;
  margin-bottom: var.$spacer;
}
